<?xml version="1.0" encoding="UTF-8"?>
<suite name="Gmail suite" parallel="tests" thread-count="3">
    <test name="Send Email">
        <parameter name="fileName" value="configuration"/>
        <classes>
            <class name="by.helmes.gmail.tests.SendEmailTest"/>
        </classes>
    </test>
    <test name="Delete Email">
        <parameter name="fileName" value="configuration"/>
        <classes>
            <class name="by.helmes.gmail.tests.DeleteEmailTest"/>
        </classes>
    </test>
</suite>